// Colors
$primaryBlue: #00ADEE;
$primaryWhite: #FFFFFF;
$secondaryWhite: #F9FAFA;
$primaryBlack: #15181A;
$primaryGrey: #566063;
$secondaryGrey: #6F787B;
$backgroundGrey: #D1D5D6;

// Paddings & Margins
$contentPadding: 0 165px;
$bannerMargin: 32px 0;
$sectionMarginBottom: 120px;

// Fonts
$TBCFont: 'TBC';
$fontBold: 700;
$fontLighter: 400;

// Sizes
$primaryBorderGap: 6px;